In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings(action='ignore')
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

In [9]:
train = pd.read_csv('/users/jjong/desktop/vscode/Dacon_src/jeju/train.csv')
test = pd.read_csv('/users/jjong/desktop/vscode/Dacon_src/jeju/test.csv')
trade = pd.read_csv('/users/jjong/desktop/vscode/Dacon_src/jeju/international_trade.csv')
sample = pd.read_csv('/users/jjong/desktop/vscode/Dacon_src/jeju/sample_submission.csv')

In [10]:
#시계열 특성을 학습에 반영하기 위해 timestamp를 월, 일, 시간으로 나눕니다
train['year'] = train['timestamp'].apply(lambda x : int(x[0:4]))
train['month'] = train['timestamp'].apply(lambda x : int(x[5:7]))
train['day'] = train['timestamp'].apply(lambda x : int(x[8:10]))

test['year'] = test['timestamp'].apply(lambda x : int(x[0:4]))
test['month'] = test['timestamp'].apply(lambda x : int(x[5:7]))
test['day'] = test['timestamp'].apply(lambda x : int(x[8:10]))

In [11]:
# train['timestamp'] = pd.to_datetime(train['timestamp'])
# trade['기간'] = pd.to_datetime(trade['기간'])

In [12]:
def english(data, col):
    data[col] = data[col].apply(lambda x: 'TG' if '감귤' in x else x)
    data[col] = data[col].apply(lambda x: 'BC' if '브로콜리' in x else x)
    data[col] = data[col].apply(lambda x: 'RD' if '무' in x else x)
    data[col] = data[col].apply(lambda x: 'CR' if '당근' in x else x)
    data[col] = data[col].apply(lambda x: 'CB' if '양배추' in x else x)
    
    return data
english(trade, '품목명')

,기간,품목명,수출 중량,수출 금액,수입 중량,수입 금액,무역수지
0,2019-01,토마토(신선한 것이나 냉장한 것으로 한정한다),356571,990,0,0,990
1,2019-01,양파,821330,222,4003206,1118,-896
2,2019-01,쪽파,60,1,93405,128,-127
3,2019-01,BC,160,1,638913,563,-562
4,2019-01,CB,0,0,7580,38,-38
...,...,...,...,...,...,...,...
1269,2023-02,포포(papaw)[파파야(papaya)],0,0,23830,71,-71
1270,2023-02,사과,135165,351,0,0,351
1271,2023-02,배,2206012,5411,1,0,5411
1272,2023-02,신 체리[프루너스 체라서스(Prunus cerasus)],5,0,0,0,0
1273,2023-02,자두,0,0,2,0,0

In [13]:
filtered = trade[(trade['품목명'] == 'TG') | (trade['품목명'] == 'BC') | (trade['품목명'] == 'RD') | (trade['품목명'] == 'CR') | (trade['품목명'] == 'CB')]
filtered

           기간 품목명   수출 중량  수출 금액    수입 중량  수입 금액  무역수지
3     2019-01  BC     160      1   638913    563  -562
4     2019-01  CB       0      0     7580     38   -38
5     2019-01  CB  184650     94   395802     90     4
8     2019-01  CR   23150     22  7466150   2955 -2934
12    2019-01  RD    2627     23    94529    464  -441
...       ...  ..     ...    ...      ...    ...   ...
1250  2023-02  CB   13188     13   377456    104   -91
1253  2023-02  CR   22510     20  9260020   3758 -3737
1254  2023-02  RD    4000      4        2      0     4
1258  2023-02  RD    1319     14   104566    454  -440
1264  2023-02  TG    6895     34    27765     98   -64

[306 rows x 7 columns]

In [15]:
filtered['year'] = filtered['기간'].apply(lambda x : int(x[0:4]))
filtered['month'] = filtered['기간'].apply(lambda x : int(x[5:7]))
# filtered['day'] = filtered['기간'].apply(lambda x : int(x[8:10]))

In [16]:
filtered = filtered.rename(columns={'품목명':'item'})

In [17]:
suji = filtered.groupby(['month', 'item'])['무역수지'].mean()
suji = pd.DataFrame(suji)
ex_kg = filtered.groupby(['month', 'item'])['수출 중량'].mean()
ex_kg = pd.DataFrame(ex_kg)
ex_money = filtered.groupby(['month', 'item'])['수출 금액'].mean()
ex_money = pd.DataFrame(ex_money)
im_kg = filtered.groupby(['month', 'item'])['수입 중량'].mean()
im_kg = pd.DataFrame(im_kg)
im_money = filtered.groupby(['month', 'item'])['수입 금액'].mean()
im_money = pd.DataFrame(im_money)

In [18]:
combine = pd.concat([ex_kg, ex_money, im_kg, im_money, suji], axis=1).reset_index()
combine

    month item         수출 중량     수출 금액         수입 중량        수입 금액      무역수지
0       1   BC  4.640000e+01     0.400  6.827742e+05   751.800000  -751.200
1       1   CB  5.176180e+04    28.800  6.289534e+05   203.700000  -174.800
2       1   CR  2.289740e+04    29.400  6.910105e+06  2758.000000 -2729.000
3       1   RD  1.027600e+03    10.400  7.145580e+04   318.000000  -307.600
4       1   TG  1.926216e+05   317.400  2.000000e-01     0.000000   317.400
5       2   BC  4.232000e+02     1.000  4.037452e+05   432.800000  -431.800
6       2   CB  3.084360e+04    15.300  3.319038e+05   127.000000  -111.700
7       2   CR  1.752400e+04    17.200  6.150161e+06  2829.000000 -2812.200
8       2   RD  1.559167e+03     9.500  5.313050e+04   238.166667  -228.500
9       2   TG  2.370640e+04   112.000  1.548120e+04    51.400000    60.600
10      3   BC  4.550000e+01     1.000  7.531285e+05   819.500000  -818.500
11      3   CB  1.099928e+05    47.625  5.946441e+05   190.500000  -142.750
12      3   CR  1.727500e+04    17.250  1.022824e+07  4787.750000 -4770.500
13      3   RD  9.855000e+02     9.000  4.700175e+04   207.000000  -198.250
14      3   TG  7.207500e+03    33.750  4.665500e+03    14.500000    19.250
15      4   BC  3.350000e+01     0.250  8.907480e+05  1106.000000 -1105.750
16      4   CB  8.212479e+05   339.500  1.165233e+06   331.750000     7.625
17      4   CR  1.823550e+04    16.000  8.259563e+06  3879.250000 -3863.000
18      4   RD  8.706000e+02     8.000  4.059560e+04   189.800000  -182.000
19      4   TG  9.402500e+02     5.500  1.383475e+04    44.500000   -39.000
20      5   BC  1.800000e+01     0.250  7.227242e+05   856.250000  -855.750
21      5   CB  2.863932e+05   134.750  4.394668e+05   173.625000   -38.750
22      5   CR  1.580000e+04    14.500  5.763862e+06  2617.250000 -2603.000
23      5   RD  1.463200e+03    13.000  5.605760e+04   260.400000  -247.200
24      5   TG  2.010500e+03    18.000  3.135250e+03    19.250000    -1.250
25      6   BC  1.200000e+01     0.000  5.133195e+05   569.000000  -569.000
26      6   CB  9.295038e+05   457.000  2.205042e+05   114.500000   342.500
27      6   CR  1.265900e+04     9.750  8.377408e+06  4005.500000 -3996.000
28      6   RD  9.454000e+02     8.800  2.891760e+04   127.400000  -118.600
29      6   TG  3.760500e+03    28.250  5.000000e-01     0.000000    28.250
30      7   BC  2.000000e+01     0.000  6.420132e+05   744.000000  -744.000
31      7   CB  7.266762e+05   357.125  2.150670e+05   115.000000   242.000
32      7   CR  1.984200e+04    16.000  8.958645e+06  3711.500000 -3695.750
33      7   RD  8.512500e+02     8.250  5.617900e+04   289.250000  -281.250
34      7   TG  7.866750e+03    48.750  0.000000e+00     0.000000    48.750
35      8   BC  8.250000e+00     0.000  1.224900e+06  1466.750000 -1466.750
36      8   CB  6.419174e+05   335.875  3.672932e+05   171.125000   164.750
37      8   CR  1.610325e+04    12.750  6.772870e+06  2634.250000 -2622.000
38      8   RD  1.022000e+03     9.500  5.197400e+04   246.500000  -237.250
39      8   TG  7.344000e+03    44.000  0.000000e+00     0.000000    44.000
40      9   BC  6.000000e+00     0.000  1.407729e+06  1677.000000 -1677.000
41      9   CB  3.829800e+05   211.125  5.213728e+05   213.875000    -2.750
42      9   CR  1.737875e+04    13.250  1.084456e+07  4239.250000 -4226.500
43      9   RD  1.377250e+03    14.750  3.224325e+04   127.500000  -113.000
44      9   TG  1.104675e+04    59.750  1.000000e+00     0.000000    59.750
45     10   BC  6.000000e+00     0.000  9.716225e+05  1081.000000 -1081.000
46     10   CB  6.323538e+04    39.625  8.178438e+05   317.500000  -277.875
47     10   CR  1.704700e+04    15.000  9.724402e+06  3379.750000 -3364.750
48     10   RD  5.620000e+02     6.200  3.701680e+04   166.600000  -160.200
49     10   TG  8.189850e+04    95.500  5.000000e-01     0.000000    95.500
50     11   BC  1.850000e+01     0.000  9.617032e+05  1162.250000 -1162.000
51     11   CB  3.132750e+04    30.750  1.013777e+06   321.875000  -291.000
52     11   CR  2.131100e+04    29.750  7.026606e+06  2369.000000 -2339.250
53     11   RD  1.284800e+03    13.400  6.072240e+04   278.000000  -264.800
54     11   TG  2.433917e+06  2391.750  2.500000e-01     0.000000  2391.750
55     12   BC  8.790000e+02     2.250  7.379425e+05   891.500000  -889.500
56     12   CB  1.428874e+05    84.375  8.225098e+05   263.000000  -178.375
57     12   CR  2.167000e+04    17.500  1.036162e+07  3818.000000 -3801.000
58     12   RD  1.117500e+02     1.250  7.575675e+04   345.750000  -344.750
59     12   TG  1.744934e+06  1539.250  4.400000e+03     5.500000  1533.750

In [96]:
train

,ID,timestamp,item,corporation,location,supply(kg),price(원/kg),year,month,day
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,2
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,3
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,4
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,5
...,...,...,...,...,...,...,...,...,...,...
59392,RD_F_J_20230227,2023-02-27,RD,F,J,452440.0,468.0,2023,2,27
59393,RD_F_J_20230228,2023-02-28,RD,F,J,421980.0,531.0,2023,2,28
59394,RD_F_J_20230301,2023-03-01,RD,F,J,382980.0,574.0,2023,3,1
59395,RD_F_J_20230302,2023-03-02,RD,F,J,477220.0,523.0,2023,3,2
59396,RD_F_J_20230303,2023-03-03,RD,F,J,427520.0,529.0,2023,3,3

In [112]:
train2 = pd.merge(train, combine, on=['month', 'item'])
train2

,ID,timestamp,item,corporation,location,supply(kg),price(원/kg),year,month,day,수출 중량,수출 금액,수입 중량,수입 금액,무역수지
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,192621.6,317.40,0.2,0.0,317.4
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,2,192621.6,317.40,0.2,0.0,317.4
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,3,192621.6,317.40,0.2,0.0,317.4
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,4,192621.6,317.40,0.2,0.0,317.4
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,5,192621.6,317.40,0.2,0.0,317.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59392,BC_E_S_20221227,2022-12-27,BC,E,S,3144.0,2138.0,2022,12,27,879.0,2.25,737942.5,891.5,-889.5
59393,BC_E_S_20221228,2022-12-28,BC,E,S,1552.0,2137.0,2022,12,28,879.0,2.25,737942.5,891.5,-889.5
59394,BC_E_S_20221229,2022-12-29,BC,E,S,896.0,2608.0,2022,12,29,879.0,2.25,737942.5,891.5,-889.5
59395,BC_E_S_20221230,2022-12-30,BC,E,S,528.0,3006.0,2022,12,30,879.0,2.25,737942.5,891.5,-889.5
59396,BC_E_S_20221231,2022-12-31,BC,E,S,424.0,3000.0,2022,12,31,879.0,2.25,737942.5,891.5,-889.5

In [114]:
test2 = pd.merge(test, combine, on=['month', 'item'])
test2

,ID,timestamp,item,corporation,location,year,month,day,수출 중량,수출 금액,수입 중량,수입 금액,무역수지
0,TG_A_J_20230304,2023-03-04,TG,A,J,2023,3,4,7207.5,33.75,4665.5,14.5,19.25
1,TG_A_J_20230305,2023-03-05,TG,A,J,2023,3,5,7207.5,33.75,4665.5,14.5,19.25
2,TG_A_J_20230306,2023-03-06,TG,A,J,2023,3,6,7207.5,33.75,4665.5,14.5,19.25
3,TG_A_J_20230307,2023-03-07,TG,A,J,2023,3,7,7207.5,33.75,4665.5,14.5,19.25
4,TG_A_J_20230308,2023-03-08,TG,A,J,2023,3,8,7207.5,33.75,4665.5,14.5,19.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,BC_E_S_20230327,2023-03-27,BC,E,S,2023,3,27,45.5,1.00,753128.5,819.5,-818.50
1088,BC_E_S_20230328,2023-03-28,BC,E,S,2023,3,28,45.5,1.00,753128.5,819.5,-818.50
1089,BC_E_S_20230329,2023-03-29,BC,E,S,2023,3,29,45.5,1.00,753128.5,819.5,-818.50
1090,BC_E_S_20230330,2023-03-30,BC,E,S,2023,3,30,45.5,1.00,753128.5,819.5,-818.50
1091,BC_E_S_20230331,2023-03-31,BC,E,S,2023,3,31,45.5,1.00,753128.5,819.5,-818.50

In [121]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
import xgboost as xgb

y = train['price(원/kg)']
X = train2.drop(['ID', 'timestamp', 'supply(kg)', 'price(원/kg)'], axis=1)
test_x = test2.drop(['ID', 'timestamp'], axis=1)
test_x = pd.get_dummies(test_x)
X = pd.get_dummies(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_sc = scaler.fit_transform(X_train)
X_test_sc = scaler.transform(X_test)
test_x_sc = scaler.transform(test_x)

# 랜덤포레스트 회귀 모델 생성
rf = RandomForestRegressor(n_estimators=500, random_state=42, max_depth=7)

# 모델 학습
rf.fit(X_train_sc, y_train)

# 예측
y_pred = rf.predict(X_test_sc)

# 모델 평가
print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
print('mape:', mean_absolute_percentage_error(y_test, y_pred))

Mean Squared Error: 2158534.7613108475
mape: 1.6526897749482665e+18

In [123]:
mean_absolute_error(y_test, y_pred)
mean_absolute_percentage_error(y_test, y_pred)

1.6526897749482665e+18

In [129]:
from sklearn.model_selection import GridSearchCV

# 그리드 서치할 매개변수를 설정합니다.
param_grid = {
    'n_estimators': [100, 300, 500],
    'max_depth': [5, 7, 9],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# 랜덤포레스트 회귀 모델을 생성합니다.
rf = RandomForestRegressor()

# 그리드 서치 객체를 생성합니다.
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=5, n_jobs=-1)

# 그리드 서치를 수행합니다.
grid_search.fit(X_train_sc, y_train)

# 최적의 매개변수와 점수를 출력합니다.
print("Best parameters found: ", grid_search.best_params_)
print("Best score: ", grid_search.best_score_)

Best parameters found:  {'max_depth': 9, 'min_samples_leaf': 4, 'min_samples_split': 10, 'n_estimators': 500}
Best score:  0.559238161669945

In [132]:
rfr = RandomForestRegressor(max_depth=9, n_estimators=500, min_samples_split=4)


rfr.fit(X_train_sc, y_train)
test_pred = rfr.predict(test_x_sc)
test_pred = pd.DataFrame(test_pred)
sample = pd.concat([sample, test_pred], axis=1).drop('answer', axis=1)
sample = sample.rename(columns={0: 'answer'})

test_pred.to_csv('submission_jeju_3.csv', index=False)

In [127]:
pred = rf.predict(test_x_sc)
pred = pd.DataFrame(pred)
submission = pd.concat([sample, pred], axis=1)
submission.drop('answer', axis=1, inplace=True)
submission = submission.rename(columns={0: 'answer'})

submission.to_csv('submission_km_univ.csv', index=False)

In [29]:
# 필요한 라이브러리를 불러옵니다.
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# 데이터 전처리
# (필요한 전처리 과정을 수행합니다.)


# 특성 선택
X = filtered[['품목명', '수출 중량', '수출 금액', '수입 중량', '수입 금액']]

# 라벨 선택
y = filtered['무역수지']

X = pd.get_dummies(X)

# 데이터를 훈련 세트와 테스트 세트로 나눕니다.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 랜덤 포레스트 회귀 모델 선택 및 학습
model = RandomForestRegressor()
model.fit(X_train, y_train)

# 모델 평가
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

# 새 데이터에 대한 원핫인코딩
new_data = pd.DataFrame({'품목명_CB': [0], '품목명_CR': [0], '품목명_RD': [0], '품목명_TG': [1], '수출 중량': [1000], '수출 금액': [50000], '수입 중량': [800], '수입 금액': [40000]})

# 예측할 데이터의 형태를 훈련 데이터와 동일하게 맞춤
new_data = new_data.reindex(columns=X.columns, fill_value=0)

# 새 데이터에 대한 예측
predicted_result = model.predict(new_data)

# 예측 결과를 출력합니다.
print(f"3월 무역 수지 예측 결과: {predicted_result}")

Mean Squared Error: 5107.035283870963
3월 무역 수지 예측 결과: [-4412.06]

In [38]:
filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 306 entries, 3 to 1264
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기간      306 non-null    datetime64[ns]
 1   품목명     306 non-null    object
 2   수출 중량   306 non-null    int64
 3   수출 금액   306 non-null    int64
 4   수입 중량   306 non-null    int64
 5   수입 금액   306 non-null    int64
 6   무역수지    306 non-null    int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 19.1+ KB

In [61]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# 머신 러닝 모델 학습을 위한 데이터 전처리
X = trade[['수출 중량', '수출 금액', '수입 중량', '수입 금액']]  # 독립 변수
y = trade['무역수지']  # 종속 변수

# 학습 데이터와 테스트 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# 선형 회귀 모델 학습
model = LinearRegression()
model.fit(X_train, y_train)

# 2023-03의 품목명 데이터를 가져와서 예측하기
new_df = test
# test 데이터프레임에 열 추가하기
test['수출 중량'] = 0
test['수출 금액'] = 0
test['수입 중량'] = 0
test['수입 금액'] = 0

# 예측을 위한 데이터프레임 준비
new_df = test[['수출 중량', '수출 금액', '수입 중량', '수입 금액']]


predicted_results = model.predict(new_df[['수출 중량', '수출 금액', '수입 중량', '수입 금액']])

predicted_results

array([0.01012854, 0.01012854, 0.01012854, ..., 0.01012854, 0.01012854,
       0.01012854])

In [60]:
predicted_results = pd.DataFrame(predicted_results)
test = pd.concat([test, predicted_results], axis=1)
test.drop(['수출 중량', '수출 금액', '수입 금액', '수입 중량'], axis=1, inplace=True)
test

,ID,timestamp,item,corporation,location,year,month,day,0
0,TG_A_J_20230304,2023-03-04,TG,A,J,2023,3,4,0.010129
1,TG_A_J_20230305,2023-03-05,TG,A,J,2023,3,5,0.010129
2,TG_A_J_20230306,2023-03-06,TG,A,J,2023,3,6,0.010129
3,TG_A_J_20230307,2023-03-07,TG,A,J,2023,3,7,0.010129
4,TG_A_J_20230308,2023-03-08,TG,A,J,2023,3,8,0.010129
...,...,...,...,...,...,...,...,...,...
1087,RD_F_J_20230327,2023-03-27,RD,F,J,2023,3,27,0.010129
1088,RD_F_J_20230328,2023-03-28,RD,F,J,2023,3,28,0.010129
1089,RD_F_J_20230329,2023-03-29,RD,F,J,2023,3,29,0.010129
1090,RD_F_J_20230330,2023-03-30,RD,F,J,2023,3,30,0.010129
1091,RD_F_J_20230331,2023-03-31,RD,F,J,2023,3,31,0.010129

In [62]:
import pandas as pd
from sklearn.linear_model import LinearRegression

# 머신 러닝 모델 학습을 위한 데이터 전처리
X = trade[['수출 중량', '수출 금액', '수입 중량', '수입 금액']]  # 독립 변수
y = trade['무역수지']  # 종속 변수

# 선형 회귀 모델 학습
model = LinearRegression()
model.fit(X, y)

# 2023-03의 품목명 데이터를 가져와서 예측하기

new_df = test
predicted_results = model.predict(new_df[['수출 중량', '수출 금액', '수입 중량', '수입 금액']])

print(predicted_results)

[0.00833921 0.00833921 0.00833921 ... 0.00833921 0.00833921 0.00833921]